<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> - Pintereso Bootstrap Template</title>
    <script type="text/javascript">(function () { var css = document.createElement('link'); css.href = 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'; css.rel = 'stylesheet'; css.type = 'text/css'; document.getElementsByTagName('head')[0].appendChild(css); })();</script>
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/app.css">
    <link rel="stylesheet" href="~/Assets/template-pintereso-bootstrap-html-master/docs/assets/css/theme.css">

</head>

<body>
    @RenderPage("~/Views/Shared/Navigation.cshtml")



    <main role="main">
        @RenderBody()


    </main>
    @RenderPage("~/Views/Shared/Footer.cshtml")

</body>

</html>
