################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/API_ArtworkSharingPlatforms/.vs/API_ArtworkSharingPlatforms/FileContentIndex
